about-time==3.1.1
alive-progress==2.4.1
ansiwrap==0.8.4
chardet==4.0.0
console-menu==0.7.1
EasyProcess==1.1
entrypoint2==1.0
grapheme==0.6.0
libmagic==1.0
patool==1.12
pyunpack==0.2.2
six==1.16.0
textwrap3==0.9.2
